/* Global */

body {
    font-family: "Grandstander", cursive;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
}

/* Game Page  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 30px;
}

#btnSkip {
    font-size: 24px;
}

.options-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd663;
    width: 250px;
    height: 70px;
    margin: 7px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    overflow-wrap: break-word;
}

#question {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 20px;
}

#timer {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color:#ffcc00;
    text-shadow: 1.5px 1.5px 3px black;
}

#scoreText {
    text-align: center;
    margin: 10px 0;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Index Page */

#titleIndex {
    color: orange;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black;
    animation: fadeInTitle 0.5s ease-out;
}

.buttonsIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInButtons 0.5s ease-out;
}

#startIndex, #leaderboardIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    background-color: green;
    border-radius: 7px;
    margin: 5px;
}

/* Leaderboard Page */

#titleLeaderboard {
    color: purple;
    text-align: center;
}

/* Stop Game Page  */

#titleStopGame, #scoreHeader {
    text-align: center;
    margin-bottom: 25px;
}

#score {
    font-size: 24px;
}

#formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerName {
    font-size: 26px;
    width: 75%;
}

#btnSave {
    font-size: 20px;
    margin-top: 30px;
    height: 50px;
    width: 100px;
}

.centerIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    animation: fadeIn 0.5s ease-out;
}

.transform-active {
    animation: fadeQuestions 1s linear;
}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes fadeInButtons {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes fadeQuestions {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
}